@import url('https://fonts.googleapis.com/css?family=Krona+One');

#header_welcome h1{
	font-family: 'Ubuntu', sans-serif;
}
#header_profile h1{
	font-family: 'Ubuntu', sans-serif;
}
#header_aboutus h1{
	font-family: 'Ubuntu', sans-serif;
}

#secondheader_profile h1{
	font-family: 'Ubuntu', sans-serif;
}

#content1{
	font-family: 'Ubuntu', sans-serif;
}

#leftnavone{
	float: left;
}
#rightnavone{
	float: right;
}
#content1{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	padding-left: 5px;
	background-color: white;
	box-shadow: 2px 2px;
	border-radius: 2px;
	padding-bottom: 10px;

}
.navone{
	background: #448aff;
}

#content2{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	padding-left: 5px;
	background-color: white;
	box-shadow: 2px 2px;
	border-radius: 2px;
	padding-bottom: 10px;
}

.content{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	padding-left: 5px;
	background-color: white;
	box-shadow: 2px 2px;
	border-radius: 2px;
	padding-bottom: 10px;
}

#box{
	background-color: #009688;
	border-radius: 2px;
	box-shadow: 0 0px 0px 0 black, 0 0px 2px 0 black;
	margin-top: 10px;
	margin-bottom: 10px;
}

.box_2{
	background-color: #009688;
	border-radius: 2px;
	box-shadow: 0 0px 0px 0 black, 0 0px 2px 0 black;
	margin-top: 10px;
	margin-bottom: 10px;
}

#nyan_sin1{
	margin-top: 10px;
	height: 0.5px;
	border-radius: 5px;
}
#nyan_sin2{
	height: 10px;
	border-radius: 5px;
}

.answer{
	margin-top: 10px;
	height: 40px;
	margin-left: 10px;
	margin-right: 10px;
	width: 600px;
	height: 300px;
}

.question_id{
	margin-top: 10px;
	height: 40px;
	margin-left: 10px;
	margin-right: 10px;
	width: 200px;
}

.icon_color{
	color: #9E9E9E;
}

.submit-button{
	margin-top: 10px;
	margin-left: 10px;
}

.color-change{
	background-color: #009688;
}

.font-color{
	color: black;
}



.font-color:hover {
	color: green;
}

.active{
	background-color: red;
}

.login_color{
	background-color: #009688;
}

#login_shadow{
	background: #ffffff;
	border-radius: 8px;
	box-shadow: 100px;
}

.link_color{
	color: red;
}
#box h1{
	padding-left: 10px;
	font-family: 'Ubuntu', sans-serif;
}
#content1 p{
	padding: 10px;
}
.button-official{
	width: 200px;
	background-color: white;
	color: black;
	border-radius: 0px;
}

.image-container1{
	background-image: url('Kaung_Khant_Thu_Off.jpg');
	width: 200px;
	height: 200px;
	border-radius: 100%;
}
.image-container2{
	background-image: url('Soe_Htet_San_Off.jpg');
	width: 200px;
	height: 200px;
	border-radius: 100%;
}
.image-container3{
	background-image: url('Thar_Htet_Zan_Off.jpg');
	width: 200px;
	height: 200px;
	border-radius: 100%;
}
.image-container4{
	background-image: url('Kaung_San_Off.jpg');
	width: 200px;
	height: 200px;
	border-radius: 100%;
}
.image-container5{
	background-image: url('Paing_Hein_Htet_Off.jpg');
	width: 200px;
	height: 200px;
	border-radius: 100%;
}
.image-container6{
	background-image: url('Kaung_Min_Khant_Off.jpg');
	width: 200px;
	height: 200px;
	border-radius: 100%;
}

.image-container-apyin{
	width: 230px;
	height: 230px;
	border-radius: 100%;
	background-color: white;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	margin-left: 30px;
	margin-bottom: 20px;
}

.image-container-atwin{
	width: 220px;
	height: 220px;
	border-radius: 100%;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	background-color: #009688;
}


/* 
	For Key BLade
 */

 .key
 {
 	margin-top: 50px;
 }

 .blur_control {
  background: url('Material_BackGround.png') no-repeat center center ;
  margin-bottom: 10px;
  height: 1000px;
  background-size: cover;
  overflow: hidden;
}

.main_box{
	margin-top: 100px;
	filter: none;
}

.blur {
  background: url('Material_BackGround.png') no-repeat center center;
  background-size: cover;
  overflow: hidden;
  filter: blur(25px);
  position: absolute;
  height: 200px;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
}

.widget {
  border-top: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.center {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}







/*  NOT REQUIRED  */

.text {
  height: 200px;
  width: 340px;
}

.text h1 {
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  color: #ffffff;
  margin-top: 57px;
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 38px;
}

.text p {
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  margin-top: 0px;
  font-family: 'Lato', serif;
  font-weight: 400;
  font-size: 22px;
}

.box_3{
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 0px 0px 0 black, 0 0px 2px 0 black;
	margin-top: 150px;
	margin-bottom: 10px;
}

#content5{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	padding-left: 5px;
	background-color: #009688;
	box-shadow: 2px 2px;
	border-radius: 2px;
	padding-bottom: 10px;
}

.white{
	color: white;
}

.question_id_main{
	margin-top: 20px;
	height: 100px;
	margin-left: 10px;
	margin-right: 10px;
	width: 670px;
}

.question_id{
	margin-top: 20px;
	height: 250px;
}


.init{
	font-size: 30px;
	color: white;
	font-family: 'Krona One', sans-serif;
}

.q_tab{
	background-color: #009688;
	height: 40px;
	width: 40px;
	margin-top: 2px;
}

.font_p{
	height: 47px;
	text-align: center;
}

.blah_button{
	margin-top: 6px;
	margin-left: 8px;
}

.may_kyi{
	text-align: center;
}