@import url('https://fonts.googleapis.com/css?family=Krona+One');
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#header_welcome h1{
	font-family: 'Ubuntu', sans-serif;
}
#header_profile h1{
	font-family: 'Ubuntu', sans-serif;
}
#header_aboutus h1{
	font-family: 'Ubuntu', sans-serif;
}

#secondheader_profile h1{
	font-family: 'Ubuntu', sans-serif;
}

#content1{
	font-family: 'Ubuntu', sans-serif;
}
#box h4{
	margin-top: 5px;
	margin-left: 10px;
	font-family: 'Ubuntu', sans-serif;
}

#leftnavone{
	float: left;
}
#rightnavone{
	float: right;
}
#username{
	background-color: white;
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 5px;
	margin-top: 10px;
	padding-bottom: 10px;
	box-shadow: 2px 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
#username_table{
	background-color: white;
	margin-top: 10px;
	padding-bottom: 10px;
}
#profilephoto{
	width: 50px;
	height: 50px;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 10px;
}
#timedate{
	background-color: #448aff;
	width: 100%;
}
#timedate_table{
	background-color: #448aff;
	width: 100%;
	margin-top: 10px;
}
#timedate p{
	color: white;
}
#timedate_table p{
	color: white;
}
#content3 p{
	padding-left: 20px;
}
#content3{
	margin-left: 10px;
	margin-right: 10px;
	background-color: white;
	box-shadow: 2px 2px;
	border-radius: 2px;

}
#content6 p{
	padding-left: 20px;
}
#content6{
	margin-left: 10px;
	margin-right: 10px;
	background-color: white;
	box-shadow: 2px 2px;
	border-radius: 2px;

}
#content1{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	padding-left: 5px;
	background-color: white;
	box-shadow: 2px 2px;
	border-radius: 2px;
	padding-bottom: 10px;

}
.navone{
	background: #448aff;
}

#content2{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	padding-left: 5px;
	background-color: white;
	box-shadow: 2px 2px;
	border-radius: 2px;
	padding-bottom: 10px;
}

.content{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	padding-left: 5px;
	background-color: white;
	box-shadow: 2px 2px;
	border-radius: 2px;
	padding-bottom: 10px;
}

#box{
	background-color: #009688;
	border-radius: 2px;
	box-shadow: 0 0px 0px 0 black, 0 0px 2px 0 black;
	margin-top: 10px;
	margin-bottom: 10px;
}

.box_2{
	background-color: #009688;
	border-radius: 2px;
	box-shadow: 0 0px 0px 0 black, 0 0px 2px 0 black;
	margin-top: 10px;
	margin-bottom: 10px;
}

#nyan_sin1{
	margin-top: 10px;
	height: 0.5px;
	border-radius: 5px;
}
#nyan_sin2{
	height: 10px;
	border-radius: 5px;
}

.answer{
	margin-top: 10px;
	height: 40px;
	margin-left: 10px;
	margin-right: 10px;
	width: 520px;
	height: 300px;
}

.question_id{
	margin-top: 10px;
	height: 40px;
	margin-left: 10px;
	margin-right: 10px;
	width: 200px;
}

.icon_color{
	color: #9E9E9E;
}

.submit-button{
	margin-top: 10px;
	margin-left: 10px;
}

.color-change{
	background-color: #009688;
}

.font-color{
	color: black;
}



.font-color:hover {
	color: green;
}

.active{
	background-color: red;
}

.login_color{
	background-color: #009688;
}

#login_shadow{
	background: #ffffff;
	border-radius: 8px;
	box-shadow: 100px;
}

.link_color{
	color: red;
}
#box h1{
	padding-left: 10px;
	font-family: 'Ubuntu', sans-serif;
}
#content1 p{
	padding: 10px;
}
.button-official{
	width: 200px;
	background-color: white;
	color: black;
	border-radius: 0px;
}

.image-container1{
	background-image: url('Kaung_Khant_Thu_Off.jpg');
	width: 200px;
	height: 200px;
	border-radius: 100%;
}
.image-container2{
	background-image: url('Soe_Htet_San_Off.jpg');
	width: 200px;
	height: 200px;
	border-radius: 100%;
}
.image-container3{
	background-image: url('Thar_Htet_Zan_Off.jpg');
	width: 200px;
	height: 200px;
	border-radius: 100%;
}
.image-container4{
	background-image: url('Kaung_San_Off.jpg');
	width: 200px;
	height: 200px;
	border-radius: 100%;
}
.image-container5{
	background-image: url('Paing_Hein_Htet_Off.jpg');
	width: 200px;
	height: 200px;
	border-radius: 100%;
}
.image-container6{
	background-image: url('Kaung_Min_Khant_Off.jpg');
	width: 200px;
	height: 200px;
	border-radius: 100%;
}

.image-container-apyin{
	width: 230px;
	height: 230px;
	border-radius: 100%;
	background-color: white;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	margin-left: 30px;
	margin-bottom: 20px;
}

.image-container-atwin{
	width: 220px;
	height: 220px;
	border-radius: 100%;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	background-color: #009688;
}

img{
	border-radius: 100%;
}

/* 
	For Key BLade
	*/

	.key
	{
		margin-top: 50px;
	}

	.blur_control {
		background: url('Material_BackGround.png') no-repeat center center ;
		margin-bottom: 10px;
		height: 650px;
		background-size: cover;
		overflow: hidden;
	}

	.main_box{
		margin-top: 100px;
		filter: none;
	}

	.blur {
		background: url('Material_BackGround.png') no-repeat center center;
		background-size: cover;
		overflow: hidden;
		filter: blur(25px);
		position: absolute;
		height: 200px;
		top: -50px;
		left: -50px;
		right: -50px;
		bottom: -50px;
	}

	.widget {
		border-top: 2px solid rgba(255, 255, 255, .5);
		border-bottom: 2px solid rgba(255, 255, 255, .5);
		height: 200px;
		width: 100%;
		overflow: hidden;
	}

	.center {
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}









	.text {
		height: 200px;
		width: 340px;
	}

	.text h1 {
		text-align: center;
		text-shadow: 1px 1px rgba(0, 0, 0, .1);
		color: #ffffff;
		margin-top: 57px;
		font-family: 'Lora', serif;
		font-weight: 700;
		font-size: 38px;
	}

	.text p {
		text-align: center;
		color: #ffffff;
		text-shadow: 1px 1px rgba(0, 0, 0, .1);
		margin-top: 0px;
		font-family: 'Lato', serif;
		font-weight: 400;
		font-size: 22px;
	}

	.box_3{
		background-color: white;
		border-radius: 2px;
		box-shadow: 0 0px 0px 0 black, 0 0px 2px 0 black;
		margin-top: 150px;
		margin-bottom: 10px;
	}

	#content5{
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 10px;
		padding-left: 5px;
		background-color: #009688;
		box-shadow: 2px 2px;
		border-radius: 2px;
		padding-bottom: 10px;
	}

	.white{
		color: white;
	}

	.question_id_main{
		margin-top: 20px;
		height: 100px;
		margin-left: 10px;
		margin-right: 10px;
		width: 670px;
	}

	.question_id{
		margin-top: 20px;
		height: 250px;
	}


	.init{
		font-size: 30px;
		color: white;
		font-family: 'Krona One', sans-serif;
	}

	.q_tab{
		background-color: #009688;
		height: 40px;
		width: 40px;
		margin-top: 2px;
	}

	.font_p{
		height: 47px;
		text-align: center;
	}

	.blah_button{
		margin-top: 6px;
		margin-left: 8px;
	}

	.may_kyi{
		text-align: center;
	}
	#t_editor{
		width: 100%;
	}


	rating star

	@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

	fieldset, label { margin: 0; padding: 0; }
	body{ margin: 20px; }
	h1 { font-size: 1.5em; margin: 10px; }

	***** Style Star Rating Widget ****
	.rating { 
		border: none;
		float: left;
	}

/* .rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}



.rating > input:checked ~ label, 
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } 
.rating > input:checked + label:hover, 
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, 
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } */
/* style for profile */

.profile_box{
	background-color: #D3D3D3;
	width: 225px;
	height: 225px;
}
.color-anayahtr{
	background-color: #D3D3D3;
	padding: 2px;
}

/* profile upload*/
.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.navbar-icon{
	background-color: #CDDC39;
	color: #212121;
}

.navbar-toggler-icon:hover{
	color: #757575;
}
.mr-right{
	margin-left: auto!important;
}

#img-upload{

}
/* Palette generated by Material Palette - materialpalette.com/lime/yellow */

.dark-primary-color    { background: #AFB42B; }
.default-primary-color { background: #CDDC39; }
.light-primary-color   { background: #F0F4C3; }
.text-primary-color    { color: #212121; }
.accent-color          { background: #FFEB3B; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

.text-primary-color:hover{
	color: #757575;
}
.damn{
	color: black;
}

.damn:hover{
	color: white;
	text-decoration: none;
}
.margin-fix{
	margin-left: 20px;
}

#star_1{
	color: grey;
}
#star_2{
	color: grey;
}
#star_3{
	color: grey;
}
#star_4{
	color: grey;
}
#star_5{
	color: grey;
}


@media only screen and (max-width: 720px){
	.answer{
		width: 250px;
	}
}

/* RATING */
/* #star5{
	z-index: -100;
	} */


	/* Customize the label (the container) */
	.container1 {
		display: inline;
		position: relative;
		padding-left: 10px;
		margin-right: 12px;
		cursor: pointer;
		font-size: 22px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	/* Hide the browser's default checkbox */
	.container1 input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}
.change-star-color{
	color: #ddd;
}


.change-star-color:hover{
	color: yellow;
}


	/* Create a custom checkbox */
	.checkmark {
		display: none;
		margin-right: 10px;
	}

	/* On mouse-over, add a grey background color */
	

	/* When the checkbox is checked, add a blue background */
	.container1 input:checked ~ .checkmark {
		color: yellow;
	}

	/* Create the checkmark/indicator (hidden when not checked) */
	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}

	/* Show the checkmark when checked */
	.container1 input:checked ~ .checkmark:after {
		display: block;
	}

	/* Style the checkmark/indicator */
	/* .container1 .checkmark:after {
		left: 9px;
		top: 5px;
		width: 5px;
		height: 10px;
		border: solid white;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	} */

img{
	border-radius: 100%;
}